<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHs-l78CsQvK6S9tvyII-UQwIR7mkD5WE</string>
	<key>GCM_SENDER_ID</key>
	<string>290380500439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fisiltiApp</string>
	<key>PROJECT_ID</key>
	<string>fisilti-app-e85aa</string>
	<key>STORAGE_BUCKET</key>
	<string>fisilti-app-e85aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290380500439:ios:f2b21ee21986fad3e64f92</string>
</dict>
</plist>